@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

$lightGray: #D3D4D9;
$blue: #4B88A2;
$fireBrick: #BB0A21;
$fireBrickHover: #8f081a;
$seaGreen: #3BB273;
$raisinBlack: #252627;
$snow: #FFF9FB;

body{
    background-color: $raisinBlack;
    font-family: 'Baloo bhaina 2', cursive;
    .App{
        .App-header{
            text-align: center;
            color: $snow;
            font-family: 'Baloo Bhaina 2', cursive;
            font-weight: 400;
            font-size: 1.5em;
            text-transform: uppercase;
            h1{
                margin: 0;
                padding: 0;
            }
        }
        .main-container{
            .todo-list{
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                row-gap: 20px;
                margin-top: 50px;
                .todo-item{
                    color: $snow;
                    width: 25%;
                    min-width: 350px;
                    display: grid;
                    grid-template-columns: 10% 75% 15%;
                    padding: 20px 10px;
                    border-radius: 10px;
                    input{
                        justify-self: left;
                        background-color: $raisinBlack;
                        color: white;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    h3{
                        margin: 0;
                        line-height: 30px;
                        font-family: 'Pathway Gothic One', sans-serif;
                        letter-spacing: 1px;
                        font-size: 1.8em;
                    }
                    button{
                        width: 50%;
                        justify-self: right;
                        background-color: $fireBrick;
                        border: none;
                        color: white;
                        font-weight: bold;
                        max-height: 30px;
                        border-radius: 5px;
                        &:hover{
                            background-color: $fireBrickHover;
                            cursor: pointer;
                        }
                    }
                }
                .incomplete{
                    background-color: $blue;
                }
                .completed {
                    background-color: $seaGreen;
                }
            }
            .add-todo{
                padding: 20px;
                display: grid;
                grid-template-columns: 1fr;
                width: 30%;
                margin: auto;
                row-gap: 20px;
                justify-items: center;
                .text-field{
                    padding: 10px 5px;
                    width: 300px;
                    background: none;
                    border: none;
                    border-bottom: 1px solid $lightGray;
                    margin-right: 10px;
                }
                .btn-submit{
                    padding: 10px;
                    background: none;
                    font-family: 'Pathway Gothic One', sans-serif;
                    letter-spacing: 3px;
                    font-size: 1.3em;
                    border: 1px solid $lightGray;
                    text-transform: uppercase;
                    border-radius: 10px;
                    color: $snow;
                    width: 20%;
                    &:hover {
                        background-color: rgba(255,255,255,.1);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}